@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(120deg,#00ccffd8, #ff06f7da);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 555px;
    height: 200px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0,0,0, 0.5); 
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing:3px;
    background-color: rgba(5,5,5,0.9);
    color: #ffff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.relogio span{
    font-weight: 600;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 13px;
}

